.App {
  min-height: 100vh;
  display: flex;
  background: #e6ecf0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: #aab8c2;
}

::-webkit-scrollbar-thumb:hover {
  background: #8899a6;
}
